<aside class="players-hud">
  <div class="user-info">
    You are playing as
    {{#if (eq game.player_black.id user.id) }}<span class="user-info__player">black</span>{{/if}}
    {{#if (eq game.player_white.id user.id) }}<span class="user-info__player">white</span>{{/if}}
  </div>

  <div class="turn-counter">
      <h6>Turn</h6>
      <em>{{game.gameState.turnNumber}}</em>
  </div>
  <div class="players">
      <div class="player-container black">
          <i class="fa fa-user-alt"></i>
          <div class="hexagon-container">
            <em class="hexagon-text {{#if (eq game.gameState.currentPlayer "black") }}hexagon-text--dark{{/if}}">
              {{game.gameState.remainingTiles.black}}</em>
            <div class="hexagon-icon {{#if (eq game.gameState.currentPlayer "black") }}hexagon-icon--gold{{/if}}"></div>
          </div>
      </div>
      <div class="player-container white">
          <i class="fa fa-user-alt"></i>
          <div class="hexagon-container">
            <em class="hexagon-text {{#if (eq game.gameState.currentPlayer "white") }}hexagon-text--dark{{/if}}">
              {{game.gameState.remainingTiles.white}}</em>
            <div class="hexagon-icon {{#if (eq game.gameState.currentPlayer "white") }}hexagon-icon--gold{{/if}}"></div>
          </div>
      </div>
  </div>
  <div class="message">
      {{#if game.gameState.winner}}
          <div>{{game.gameState.winner}} won !</div>
      {{else if game.gameState.draw}}
          <div>Draw</div>
      {{else}}
          <div>Currently playing: {{game.gameState.currentPlayer}}</div>
      {{/if}}
      <div>{{game.gameState.message}}</div>
  </div>
  
  {{#if playable }}
    <button id="toggleHighlight">See possible move</button>
    {{#gt game.gameState.turnNumber 0}}
      <form action="/game/{{game.id}}/help" method="post" id="help">
            <fieldset>
              <select name="level">
                <option selected value="onlyTiles">Just the tiles</option>
                <option value="allThePaths">All the paths</option>
              </select>
            </fieldset>
            <button type="submit">Help</button>
            <div></div>
          </form>
    {{/gt}}
  {{/if}}

  {{#isFalsey game.isSolo }}
    <form action="/game/{{game.id}}/initbot" method="post">
      <button type="submit">Play vs a bot</button>
    </form>
  {{/isFalsey}}
</aside>