<aside class="playersHUD">
    <div class="turn-counter">
        <h6>Turn</h6>
        <em>{{game.gameState.turnNumber}}</em>
    </div>
    <div class="players">
        <div class="black">
            <i class="material-icons">person</i>
            <div class="hexagon-container">
                <em>{{game.gameState.remainingTiles.black}}</em>
                {{#contains game.gameState.currentPlayer "black" }}
                    <div class="hexagon-icon hexagon-icon--gold"></div>
                {{else}}
                    <div class="hexagon-icon"></div>
                {{/contains}}
            </div>
        </div>
        <div class="white">
            <i class="material-icons">person_outline</i>
            <div class="hexagon-container">
                <em>{{game.gameState.remainingTiles.white}}</em>
                {{#contains game.gameState.currentPlayer "white" }}
                    <div class="hexagon-icon hexagon-icon--gold"></div>
                {{else}}
                    <div class="hexagon-icon"></div>
                {{/contains}}
            </div>
        </div>
    </div>
    <div class="message">
        {{#if game.gameState.winner}}
            <div>{{game.gameState.winner}} won !</div>
        {{else if game.gameState.draw}}
            <div>Draw</div>
        {{else}}
            <div>Currently playing</div>
        {{/if}}
    </div>
</aside>