<aside class="players-hud">
      <div class="turn-counter">
          <h6>Turn</h6>
          <em>{{game.gameState.turnNumber}}</em>
      </div>
      <div class="players">
          <div class="player-container black">
              <i class="fa fa-user-alt"></i>
              <div class="hexagon-container">
                <em class="hexagon-text {{#if (eq game.gameState.currentPlayer "black") }}hexagon-text--dark{{/if}}">
                  {{game.gameState.remainingTiles.black}}</em>
                <div class="hexagon-icon {{#if (eq game.gameState.currentPlayer "black") }}hexagon-icon--gold{{/if}}"></div>
              </div>
          </div>
          <div class="player-container white">
              <i class="fa fa-user-alt"></i>
              <div class="hexagon-container">
                <em class="hexagon-text {{#if (eq game.gameState.currentPlayer "white") }}hexagon-text--dark{{/if}}">
                  {{game.gameState.remainingTiles.white}}</em>
                <div class="hexagon-icon {{#if (eq game.gameState.currentPlayer "white") }}hexagon-icon--gold{{/if}}"></div>
              </div>
          </div>
      </div>
      <div class="message">
          {{#if game.gameState.winner}}
              <div>{{game.gameState.winner}} won !</div>
          {{else if game.gameState.draw}}
              <div>Draw</div>
          {{else}}
              <div>Currently playing: {{game.gameState.currentPlayer}}</div>
          {{/if}}
          <div>{{game.gameState.message}}</div>
      </div>

      <button id="toggleHighlight">See possible move</button>
      
      <form action="/game/{{game.id}}/help" method="post" id="help">
        <button type="submit">Help</button>
      </form>

    </aside>