{{> header }}
    {{> HUD game=game}}
    <main>
      {{#if playable}}
        <form class="board" method="post">
      {{else}}
        <div class="board">
      {{/if}}

        {{#each game.board}}
          <ul>
            {{#each this}}
              {{#if this}}
                <li class="tile-wrap">
                  <label
                    data-allowed-move="{{this.moveAllowed}}"
                    class="tile tile--{{this.color}} tile--{{this.symbol}}"
                  >
                    {{#if this.lastPlayed}}<span
                        class="tile--last-played"
                      ></span>{{/if}}
                    {{#if this.playedBy}}<span
                        class="tile--played-by-{{this.playedBy}}"
                      ></span>{{/if}}
                    {{#unless this.playedBy}}
                      <input
                        type="submit"
                        name="played"
                        value="{{@../index}}-{{@index}}"
                      />
                    {{/unless}}
                  </label>
                </li>
              {{/if}}
            {{/each}}
          </ul>
        {{/each}}
      {{#if playable}}
      </form>
      {{else}}
      </div>
      {{/if}}
    </main>
    <script src="/public/app.js"></script>
{{> footer }}