<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="hud.css">
  </head>
  <body>
    <main>
      <aside class="players-hud">
        <div class="turn-counter">
            <h6>Turn</h6>
            <em>{{game.state.turnNumber}}</em>
        </div>
        <div class="players">
            <div class="black">
                <i class="fa fa-user-alt"></i>
                <div class="hexagon-container">
                    {{#contains game.state.currentPlayer "black" }}
                        <em class="hexagon-text--dark">{{game.state.remainingTiles.black}}</em>
                        <div class="hexagon-icon hexagon-icon--gold"></div>
                    {{else}}
                        <em class="hexagon-text">{{game.state.remainingTiles.black}}</em>
                        <div class="hexagon-icon"></div>
                    {{/contains}}
                </div>
            </div>
            <div class="white">
                <i class="fa fa-user-alt"></i>
                <div class="hexagon-container">
                    {{#contains game.state.currentPlayer "white" }}
                        <em class="hexagon-text--dark">{{game.state.remainingTiles.white}}</em>
                        <div class="hexagon-icon hexagon-icon--gold"></div>
                    {{else}}
                        <div class="hexagon-icon"></div>
                    {{/contains}}
                </div>
            </div>
        </div>
        <div class="message">
            {{#if game.state.winner}}
                <div>{{game.state.winner}} won !</div>
            {{else if game.state.draw}}
                <div>Draw</div>
            {{else}}
                <div>Currently playing: {{game.state.currentPlayer}}</div>
            {{/if}}
            {{game.state.message}}
        </div>
      </aside>
      <form class="board" method="post">
        <input type="hidden" name="board" value="{{JSONstringify game.board}}">
        <input type="hidden" name="state" value="{{JSONstringify game.state}}">
        {{#each game.board}}
          <ul>
          {{#each this}}
            {{#if this}}
              <li class="tile-wrap">
                <label class="tile tile--{{this.color}} tile--{{this.symbol}} tile--allowed-move-{{this.moveAllowed}}">
                  {{#if this.lastPlayed}}<span class="tile--last-played"></span>{{/if}}
                  {{#if this.playedBy}}<span class="tile--played-by-{{this.playedBy}}"></span>{{/if}}
                  {{#if (isUndefined this.playedBy)}}
                    <input type="submit" name="played" value="{{this.color}}-{{this.symbol}}">
                  {{/if}}
                </label>
              </li>
            {{/if}}
          {{/each}}
          </ul>
        {{/each}}
      </form>
    </main>
  </body>
</html>
