<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/app.css">
    <link rel="stylesheet" href="/public/hud.css">
  </head>
  <body>
    <main>
      {{> HUD game=game}}
      <form class="board" method="post">
        <input type="hidden" name="board" value="{{JSONstringify game.board}}">
        <input type="hidden" name="state" value="{{JSONstringify game.gameState}}">
        {{#each game.board}}
          <ul>
          {{#each this}}
            {{#if this}}
              <li class="tile-wrap">
                <label class="tile tile--{{this.color}} tile--{{this.symbol}} tile--allowed-move-{{this.moveAllowed}}">
                  {{#if this.lastPlayed}}<span class="tile--last-played"></span>{{/if}}
                  {{#if this.playedBy}}<span class="tile--played-by-{{this.playedBy}}"></span>{{/if}}
                  {{#unless this.playedBy}}
                    <input type="submit" name="played" value="{{this.color}}-{{this.symbol}}">
                  {{/unless}}
                </label>
              </li>
            {{/if}}
          {{/each}}
          </ul>
        {{/each}}
      </form>
    </main>
  </body>
</html>
