{{> header }}
  {{> HUD game=game}}
  <main>
    <form class="board" method="post">
      <input
        type="hidden"
        name="board"
        value="{{JSONstringify game.board}}"
      />
      <input
        type="hidden"
        name="state"
        value="{{JSONstringify game.gameState}}"
      />
      {{#each game.board}}
        <ul>
          {{#each this}}
            {{#if this}}
              <li class="tile-wrap">
                <label
                  data-allowed-move="{{this.moveAllowed}}"
                  class="tile tile--{{this.color}} tile--{{this.symbol}}"
                >
                  {{#if this.lastPlayed}}<span
                      class="tile--last-played"
                    ></span>{{/if}}
                  {{#if this.playedBy}}<span
                      class="tile--played-by-{{this.playedBy}}"
                    ></span>{{/if}}
                  {{#unless this.playedBy}}
                    <input
                      type="submit"
                      name="played"
                      value="{{this.color}}-{{this.symbol}}"
                    />
                  {{/unless}}
                </label>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      {{/each}}
    </form>
  </main>
  <script src="app.js"></script>
{{> footer }}